@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --primary: 84 107 150;
    --primary-dark: 64 83 119;

    --background: 34 34 48;

    --modrinth: 0 175 92;
    --modrinth-dark: 0 149 78;

    --curseforge: 241 100 54;
    --curseforge-light: 255 120 77;
}